@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap");
/*font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;*/
.my-container {
  background-color: #1a1717;
  min-height: 100vh;
}

.section-index {
  margin-top: 110px;
  margin-bottom: 50px;
}
@media screen and (max-width: 320px) {
  .section-index {
    margin-top: 80px;
  }
}

.imagem-index {
  border-radius: 80%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .imagem-index {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 425px) {
  .imagem-index {
    width: 168px;
    height: 168px;
  }
}
@media screen and (max-width: 320px) {
  .imagem-index {
    width: 150px;
    height: 150px;
  }
}

.imagem-index:hover {
  box-shadow: -10px -10px 20px gray;
}

.imagem-index img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-title {
  margin-top: 38px;
  color: #fff;
  font-size: 80px;
  font-family: "Satisfy", cursive, Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 645px) {
  .text-title {
    font-size: 65px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .text-title {
    font-size: 45px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .text-title {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
  }
}

.sub-title {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  width: 300px;
  margin-top: 60px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 645px) {
  .sub-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .sub-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  .sub-title {
    font-size: 20px;
  }
}

.typing-animation {
  animation: blinkCursor 500ms steps(50) infinite normal;
}

.letra-piscando {
  animation: typing 3s steps(50) 2s normal both;
  animation-iteration-count: 2;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.bg-conteudo {
  background-color: rgb(247, 241, 241);
}

.title-h3 {
  color: #000;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgb(181, 23, 23);
  text-transform: uppercase;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 8px;
}
@media screen and (max-width: 425px) {
  .title-h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  .title-h3 {
    font-size: 20px;
  }
}

.conteudo {
  text-align: justify;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  width: 1000px;
  padding: 15px;
  color: #000;
  margin-bottom: 50px;
}
@media screen and (max-width: 1250px) {
  .conteudo {
    width: 80%;
  }
}
@media screen and (max-width: 645px) {
  .conteudo {
    width: 85%;
    font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  .conteudo {
    width: 90%;
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .conteudo {
    width: 90%;
    font-size: 12px;
  }
}

#section-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "item-1 item-2";
}
@media screen and (max-width: 768px) {
  #section-2 {
    margin-bottom: 40px;
    grid-template-columns: 100%;
    gap: 20px;
    grid-template-areas: "item-1" "item-2";
  }
}

.size-icone-black {
  width: 50px;
  height: 50px;
  color: #000;
}
@media screen and (max-width: 1024px) {
  .size-icone-black {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .size-icone-black {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 425px) {
  .size-icone-black {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 320px) {
  .size-icone-black {
    width: 25px;
    height: 25px;
  }
}

.link-social-media-index {
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .link-social-media-index {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .link-social-media-index {
    font-size: 17px;
  }
}
@media screen and (max-width: 425px) {
  .link-social-media-index {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .link-social-media-index {
    font-size: 15px;
  }
}

.conteudo-redes-sociais {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 300px;
  padding: 15px;
  width: 350px;
}
@media screen and (max-width: 1340px) {
  .conteudo-redes-sociais {
    margin-left: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .conteudo-redes-sociais {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .conteudo-redes-sociais {
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .conteudo-redes-sociais {
    width: 100%;
  }
}

.text-socialMedia {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
}

.social-media {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .social-media {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 425px) {
  .social-media {
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 320px) {
  .social-media {
    margin-bottom: 5px;
  }
}

.card__giratorio {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
}
@media screen and (max-width: 425px) {
  .card__giratorio {
    margin-left: 40px;
    width: 200px;
    height: 150px;
  }
}

.card__giratorio-conteudo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card__giratorio:hover .card__giratorio-conteudo {
  transform: rotateY(180deg);
}

.card__giratorio-conteudo--frente,
.card__giratorio-conteudo--traseira {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__giratorio-conteudo--frente {
  background: linear-gradient(-229deg, rgb(181, 23, 23), rgb(230, 212, 212));
}

.card__giratorio-conteudo--traseira {
  background: linear-gradient(229deg, rgb(181, 23, 23), rgb(230, 212, 212));
  color: #fff;
  transform: rotateY(180deg);
}

.card__giratorio-conteudo--traseira h1,
.card__giratorio-conteudo--traseira p,
.card__giratorio-conteudo--frente p {
  padding: 5px;
  margin: 0;
  color: #000;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 425px) {
  .card__giratorio-conteudo--traseira h1,
.card__giratorio-conteudo--traseira p,
.card__giratorio-conteudo--frente p {
    padding: 0;
    font-size: 14px;
  }
}

.link-card {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: #000;
}

.card__giratorio-conteudo--traseira h1 {
  font-size: 1.7rem;
}

.logo {
  width: 80px;
  height: 80px;
  filter: drop-shadow(2px 2px 5px black);
  opacity: 0.9;
}
@media screen and (max-width: 425px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

.image-logo {
  width: 60px;
  height: 60px;
}

.link-hover {
  margin: 15px;
  text-transform: uppercase;
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.link-hover:hover {
  transform: scale(1.5);
}

.link-hover::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.link-hover:hover::after {
  transform: scaleX(1);
}

.bg-new {
  background-color: rgb(181, 23, 23);
}

.footer-1 {
  color: #000;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1a1717;
}

/*# sourceMappingURL=style.css.map */
