@import "./pages/index.scss";

@import "./others/colors.scss";

@import "./others/common.scss";

@import "./pages/contact.scss";

@import "./pages/thaks.scss";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $background-color;
}
