.image-logo {
  width: 60px;
  height: 60px;
}

.bg-new {
  background-color: rgb(181, 23, 23);
}

.footer-1 {
  color: #000;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
