@import "../others/colors.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap");
/*font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;*/

.my-container {
  background-color: $background-color;
  min-height: 100vh;
}

.section-index {
  margin-top: 170px;
  margin-bottom: 50px;
}

.imagem-index {
  border-radius: 80%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  @media screen {
    @media (max-width: 768px) {
      width: 190px;
      height: 190px;
    }
    @media (max-width: 425px) {
      width: 168px;
      height: 168px;
    }
    @media (max-width: 320px) {
      width: 150px;
      height: 150px;
    }
  }
}

.imagem-index:hover {
  box-shadow: -10px -10px 20px gray;
}
.imagem-index img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-title {
  margin-top: 45px;
  color: #fff;
  font-size: 80px;
  font-family: "Satisfy", cursive, Arial, Helvetica, sans-serif;
  @media screen {
    @media (max-width: 645px) {
      font-size: 65px;
      text-align: center;
    }
    @media (max-width: 425px) {
      font-size: 45px;
      text-align: center;
    }
    @media (max-width: 320px) {
      font-size: 40px;
      text-align: center;
    }
  }
}

.sub-title {
  color: #fff;
  margin-top: 60px;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  @media screen {
    @media (max-width: 645px) {
      font-size: 30px;
    }
    @media (max-width: 425px) {
      font-size: 25px;
    }
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
}
.bg-conteudo {
  background-color: rgb(247, 241, 241);
}

.title-h3 {
  color: #000;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgb(181, 23, 23);
  text-transform: uppercase;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 8px;
  @media screen {
    @media (max-width: 425px) {
      font-size: 25px;
    }
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
}

.conteudo {
  text-align: justify;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
  width: 1000px;
  padding: 15px;
  color: #000;
  margin-bottom: 50px;
  @media screen {
    @media (max-width: 1250px) {
      width: 80%;
    }
    @media (max-width: 645px) {
      width: 85%;
      font-size: 15px;
    }
    @media (max-width: 425px) {
      width: 90%;
      font-size: 15px;
    }
    @media (max-width: 320px) {
      width: 90%;
      font-size: 12px;
    }
  }
}
